@import "../../styles/styleguide.scss";
@import "../../styles/breakpoints.scss";

.mainContainer {
    padding: 0 40px;

    @include respond-to("tablet") {
        padding: 0 10px;
    }

    @include respond-to("mobile") {
        padding: 0 0px;
    }
}

.secondaryBackground {
    background-color: $secondary-background-color;
    padding: 50px 0;
    border-top: 1.5px solid #E7DAED;
    border-bottom: 1.5px solid #E7DAED;
}