@import "../../styles/styleguide.scss";

.mainContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-radius: 5px;
    border: solid #E7DAED 1px;
    padding: 5px 20px;
    position: absolute;
}

.linearGradientText {
    background: linear-gradient(180deg, $primary-color 0%, $secondary-color 50%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 3.8rem;
    font-weight: bold;
}