@import "../../styles/styleguide.scss";

.mainContainer {
    border-radius: 50%;
    position: absolute;
    z-index: -2;
}

.red {
    background: linear-gradient(45deg, $primary-color 0%, $secondary-color 125%);
}

.yellow {
    background: linear-gradient(45deg, #F7936F 0%, #FFEF5E 125%);
}

.violet {
    background: linear-gradient(45deg, #57007B 0%, #F76680 125%); // F76680 57007B
}

.positionContainer {
    position: relative;
    width: 0px;
    height: 0px;
    overflow: visible;
}