@import "../../../styles/styleguide.scss";
@import "../../../styles/breakpoints.scss";

.mainContainer {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    padding: 45px 0;
    position: relative;

    background-image: linear-gradient(120deg, #F76680 0%, #F76680 100%);
    background-repeat: no-repeat;
    background-position: 50% 0;
    background-size: 1.6px 100%;
    background-origin: border-box;

    @include respond-to("tablet") {
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        overflow: visible;
        padding: 35px 0;
        background-position: 100% 0;
    }
}

.title {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 1.5rem;
    text-align: left;
}

.subTitle {
    font-size: 1.2rem;
    font-weight: 500;
    margin-bottom: 1.5rem;
    text-align: left;
}

.image {
    height: 250px;
    object-fit: scale-down;

    @include respond-to("tablet") {
        width: 35%;
        min-width: 150px;
    }
}

.textContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    flex: 1;

    @include respond-to("tablet") {
        padding-right: 80px;
    }





}

.imageContainer {
    display: flex;
    flex: 1;
    align-items: flex-start;

    justify-content: center;
    flex-direction: row;
    width: 100%;
    margin-bottom: 1.5rem;

    @include respond-to("tablet") {
        margin-bottom: 0;
        margin-top: 1.5rem;
        justify-content: flex-start;
        margin-right: 80px;
    }


}

.text {
    color: #2D3748;
    line-height: 30px;
    transition: 0.8s all ease;
    font-size: 1rem;
}

.hiddenText {
    font-size: 0;
    line-height: 0;
    opacity: 0;
}

.spacer {
    flex: 3;
    height: 80px;

    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: column;


    @include respond-to("tablet") {
        width: 100%;
        flex-direction: row;
        justify-content: flex-end;
    }
}



.arrow {
    width: 60px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;


    @include respond-to("tablet") {
        justify-content: flex-end;
    }

}

.arrowColor {
    background-color: #F76680;
    width: 50%;
    height: 1.2px;
}

.linearGradientButton {
    font-weight: 600;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 0.9rem;
    background: -webkit-linear-gradient(45deg, #57007B, #F76680);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    border-radius: 0;
    transition: transform 0.2s ease-in-out;
    margin: 0;
    margin-top: 20px;
    padding: 0;

    &:active {
        transform: scale(0.95);
    }

}