@import "../../../styles/styleguide.scss";

.navButton {
    background-color: black;
    color: white;
    border-radius: 25px;
    padding: 10px 30px;
    margin: 0 10px;
    font-size: 17px;
    font-family: "Roboto";
    font-weight: 400;
    cursor: pointer;
    transition: all 0.8s ease;
    border: none;
    height: 100%;

    &:hover {
        background-color: $primary-color;
    }

    &:active {
        background-color: darken($primary-color, 10%);
    }
}