@import "../../styles/styleguide.scss";

.column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

.videoBackground {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 108vh;
  margin: 0;
  padding: 0;
  z-index: -1;
  object-fit: cover;
  filter: brightness(0.6) blur(3px);
  clip-path: url(#smoothCurve);
}

.title {
  text-align: center;
  margin: 0 15px;
}

.subTitle {
  margin-top: 22px;
  margin-right: 15px;
  margin-left: 15px;
  margin-bottom: 62px;
  text-align: center;
}