@import "../../styles/breakpoints.scss";
@import "../../styles/styleguide.scss";

.mainContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.responsiveRow {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;

    @include respond-to("tablet") {
        flex-direction: column;
        align-items: center;
        justify-content: start;
    }
}

.row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 200px;
    margin-top: 20px;
}

.socialIcon {
    transition: all 0.3s ease;

    &:hover {
        transform: scale(1.1);
    }
}

footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0;

    p {
        padding: 0;
        margin: 10px;
        font-size: 0.8rem;
        text-align: center;

        a {
            font-size: 0.8rem;
        }
    }
}