@import "../../styles/styleguide.scss";
@import "../../styles/breakpoints.scss";

.navBar {
    border-radius: 50px;
    border: none;
    padding: 10px 5px;
    margin: 0 50px;
    background-color: black;
    color: white;
    position: fixed;
    //top: 20px;
    height: 50px;
    left: 0;
    right: 0;
    z-index: 100;
    display: flex;
    flex-direction: row;
    transition: all 0.8s ease;
    //  transform: scale(.96);


    @include respond-to("tablet") {
        display: none;
    }

    /*&:hover {
        transform: scale(1);
        box-shadow: 1px 16px 29px -4px rgba(0, 0, 0, 0.75);
        -webkit-box-shadow: 1px 16px 29px -4px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 1px 16px 29px -4px rgba(0, 0, 0, 0.75);
    }*/

}

.sissanLogo {
    height: 40px;
    margin: 0 10px;
    object-fit: scale-down;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.spacer {
    flex: 1;
}