@import "../../styles/styleguide.scss";

.mainContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.carrouselContainer {
    width: 100%;
    height: 400px;

    margin-bottom: 50px;

}

.handCursor {
    &:hover {
        cursor: grab;
    }

    &:active {
        cursor: grabbing;
    }

}