@import "../../../styles/styleguide.scss";
@import "../../../styles/breakpoints.scss";

.mainContainer {
    transition: all 0.8s ease;
    position: fixed;
    top: 20px;
    left: 20px;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    display: none;
    background-color: black;
    border-radius: 50px;
    border: none;
    width: 60px;
    height: 60px;
    z-index: 1000;

    @include respond-to("tablet") {
        display: flex;
    }
}

.mainContainerOpened {
    width: 200px;
    height: 350px;
    border-radius: 30px;
    opacity: 0.8;
    padding-left: 20px;
    padding-top: 20px;

}

.menuIcon {
    color: white;
    transition: all 0.3s ease;
    opacity: 1;
    font-size: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.menuIconOpened {
    transition: all 0.3s ease;
    opacity: 0;
    font-size: 0px;
    padding: 0;
    margin: 0;
}

.mobileNavBarButton {
    transition: all 0.8s ease;
    padding: 0;
    font-size: 0px;
    color: white;
    background-color: transparent;
    border: none;
    margin: 0;
    opacity: 0;
    background-size: 0% 3px;
    font-family: "Roboto";
    font-weight: 400;
    background-image: linear-gradient(120deg, $primary-color 0%, $secondary-color 100%);
    background-repeat: no-repeat;
    background-position: 0 100%;
    transition: opacity 0.8s ease;
}

.mobileNavBarButtonOpened {
    transition: all 0.8s ease;
    font-size: 16px;
    margin: 15px 0;
    opacity: 1;
    padding-bottom: 5px;
    background-size: 45px 1.5px;
}

.background {
    background-color: black;
    transition: all 0.8s ease;
    animation: animateOpacity 0.8s forwards;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 999;
}

@keyframes animateOpacity {
    from {
        opacity: 0;
    }

    to {
        opacity: 0.5;
    }
}